

.number
{
    float: right;
}

.menu
{
    float: left;
}

.logo
{
    width: 50px;
    float: left;
}

.ferstblock
{
    height: 340px;
    background-color: #ebebeb;
    padding-top: 20px;
}

.telephon
{
    width: 165px;
    height: 290px;
    background-color: #e3e3e3;
    border: 2px solid;
}

.sliderfirstblock
{
    width: 908px;
    height: 290px;
    background-color: #ffffff;
}

.korzina
{
    background-color: #c5c5c5;
    width: 165px;
    height: 179px;
    text-align: center;
}

.product
{
    background-color: #f1f1f1;
    padding-left: 10px;
    width: 212px;
    height: 195px;
    padding-right: 10px;
    margin-top: 0px;
    padding-top: 10px;
}

.ceni
{
    float: right;
}

.inkorzinu
{
    float: left;
}

.btnprilozhenie
{
    position: absolute;
    width: 160px;
    bottom: 1px;
    border-radius: 0px;
}

.skidkaprilozhenie
{
    margin-top: 40px;
    width: 130px;
    margin-left: 20px;
}

.namesushi
{
    margin-top: 0px;
}

.divproduct
{
    width: 212px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.categories
{
    float: left;
    margin-right: 11px;
    margin-top: 20px;
}

.newdiv
{
    background-color: #e1e1e1;
    padding: 1px 10px 10px;
    float: left;
    margin-right: 11px;
    margin-top: 40px;
    width: 295px;
    margin-bottom: 40px;
}

.newhead
{
    font-size: 15px;
}

.footer
{
    background-color: #d5d5d5;
    padding-top: 20px;
}

.phonenumber
{
    font-size: 21px;
}

.social
{
    font-size: 20px;
    float: left;
    border: 2px solid gray;
    border-radius: 40px;
    padding: 20px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
}

.discountfooter
{
    font-size: 30px;
}

.store
{
    font-size: 20px;
    float: left;
    width: 245px;
    background-color: #878787;
    color: #f9f9f9;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-top: 50px;
}

