

a:hover
{
    text-decoration: none;
}

.number
{
    float: right;
}

.menu
{
    float: left;
}

.logo
{
    width: 50px;
    float: left;
}

.ferstblock
{
    height: 340px;
    background-color: #d5d5d5;
    padding-top: 20px;
}

.telephon
{
    height: 290px;
    background-color: #e3e3e3;
    border: 2px solid;
    max-width: 165px;
}

.sliderfirstblock
{
    background-color: #ffffff;
    max-width: 920px;
    height: 290px;
}

.korzina
{
    background-color: #c5c5c5;
    height: 179px;
    text-align: center;
    max-width: 165px;
}

.product
{
    padding-left: 10px;
    height: auto;
    padding-right: 10px;
    margin-top: 0px;
    padding-top: 10px;
    background-color: rgba(229, 229, 229, 0.98);
    float: left;
    width: 100%;
}

.ceni
{
    float: right;
}

.inkorzinu
{
    float: right;
    margin-bottom: 5px;
}

.btnprilozhenie
{
    border-radius: 0px;
    width: 100%;
    position: relative;
    top: 162px;
}

.skidkaprilozhenie
{
    margin-top: 40px;
    width: 130px;
    margin-left: 20px;
}

.namesushi
{
    margin-top: 0px;
    font-size: 20px;
}

.divproduct
{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    display: block;
    width: 28%;
}

.categories
{
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    outline: 1px solid #dedede;
    width: 28%;
}

.newdiv
{
    background-color: #e1e1e1;
    float: left;
    margin-right: 20px;
    margin-top: 40px;
    width: 28%;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
}

.newhead
{
    font-size: 15px;
}

.footer
{
    background-color: #d5d5d5;
    padding-top: 20px;
}

.phonenumber
{
    font-size: 21px;
}

.social
{
    font-size: 20px;
    float: left;
    border: 2px solid gray;
    border-radius: 40px;
    padding: 20px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    text-align: center;
}

.discountfooter
{
    font-size: 30px;
    margin-top: 56px;
}

.store
{
    font-size: 20px;
    float: left;
    width: 200px;
    background-color: #878787;
    color: #f9f9f9;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-top: 10px;
}

.prodaction
{
    margin-top: 140px;
}

.sticky-content
{
}

.sticky-content.fixed
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.sticky-content.fixed
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.divmodal
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.modaldivcont
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.imgmodal
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btnmodal
{
    float: right;
    clear: right;
}

.pricemodal
{
    font-size: 20px;
    position: static;
    float: right;
}

.modakdivhead
{
    width: 600px;
}

.menudiv
{
    margin-bottom: 0px;
}

.divcatalog
{
    display: block;
    clear: both;
}

.divnews
{
    display: block;
    clear: both;
}

.divprod
{
    display: block;
    clear: both;
}

.divcontshop
{
    display: block;
    clear: both;
}

@media screen and (max-width:733px)
{
    .divproduct
    {
        display: block;
        margin-right: 5px;
        width: 100%;
    }
}

@media screen and (max-width:688px)
{
    .divproduct
    {
        display: block;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }
}

.old
{
    font-size: 14px;
    text-align: right;
}

.new
{
    font-size: 20px;
    margin-top: 5px;
    text-align: right;
}

.dropdown2:hover > .dropdown-menu
{
    display: block;
}

.radiogroup
{
    float: left;
}

@media screen and (max-width:733px)
{
    .product
    {
        display: block;
        margin-right: 5px;
        width: 100%;
    }
}

